AA2/flows.json
[
    {
        "id": "04d958c06f2e302e",
        "type": "ui_gauge",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 0,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 60,
        "wires": []
    },
    {
        "id": "10367292ddccfe7a",
        "type": "mqtt in",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "topic": "humValue",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "04d958c06f2e302e",
                "cf4881bd0aa5bcbb"
            ]
        ]
    },
    {
        "id": "2145104868f9365b",
        "type": "mqtt in",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "topic": "tempValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "cf4881bd0aa5bcbb",
                "02e12eaa7bc9238f"
            ]
        ]
    },
    {
        "id": "700399b91f9449b4",
        "type": "function",
        "z": "5158dcb0a5b3ed0f",
        "name": "AddToArray",
        "func": "var tableData = flow.get(\"savedData\") || []\n\nmsg.payload[\"timeStamp\"] = new Date().toLocaleString()\n\nif(tableData.length>0 )\n{   \n   tableData.unshift( msg.payload)\n}\nelse if(tableData.length==0){\n   tableData.unshift( msg.payload)\n}\n\nmsg.payload = tableData\n\nflow.set(\"savedData\", tableData)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"savedData\", [])",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "ad07d30e613c8c2a"
            ]
        ]
    },
    {
        "id": "cf4881bd0aa5bcbb",
        "type": "join",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "700399b91f9449b4",
                "1fcdf8f6d3a4b8bd"
            ]
        ]
    },
    {
        "id": "ad07d30e613c8c2a",
        "type": "ui_table",
        "z": "5158dcb0a5b3ed0f",
        "group": "d7add96eb24337e9",
        "name": "Data Table",
        "order": 1,
        "width": "20",
        "height": "5",
        "columns": [
            {
                "field": "timeStamp",
                "title": "Time Stamp",
                "width": "30%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tempValue",
                "title": "Temperature",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "phValue",
                "title": "PH",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tdsValue",
                "title": "TDS",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humValue",
                "title": "Humidity",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "4f1ab64c5411d435",
        "type": "telegram client sender",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "bot": "38453e9c236cb604",
        "x": 720,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "96aaa67c0be463fb",
        "type": "mqtt in",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "topic": "phValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "cf4881bd0aa5bcbb",
                "63fc7776a0a47052"
            ]
        ]
    },
    {
        "id": "81221fbe832d8e05",
        "type": "mqtt in",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "topic": "tdsValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "cf4881bd0aa5bcbb",
                "56add8de63a427f9"
            ]
        ]
    },
    {
        "id": "02e12eaa7bc9238f",
        "type": "ui_gauge",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 1,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "63fc7776a0a47052",
        "type": "ui_gauge",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "PH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "56add8de63a427f9",
        "type": "ui_gauge",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "TDS",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "1fcdf8f6d3a4b8bd",
        "type": "function",
        "z": "5158dcb0a5b3ed0f",
        "name": "CheckForThreshold",
        "func": "var thresholds = {humValue: { low: 12, high: 25 },\n                  tempValue: { low: 20, high: 30 },\n                  phValue: { low: 5.5, high: 7 },\n                  tdsValue: { low: 600, high: 1600 },\n                  }\nvar currentData = msg.payload\n// Get the last message keys  using flow.get() or create empty list\n\n\nvar status = \"\"\n\nfor (let key in thresholds) {\n  // And check if lastMessageKeys inclueds key\n  if (currentData[key] < thresholds[key].low) {\n    status = `${status} ${key} reading is Low. (range ${thresholds[key].low}-${thresholds[key].high}) Current reading: ${currentData[key]}\\n`\n    // Add the key to lastMessageKeys list\n \n  }\n  // And check if lastMessageKeys inclueds key\n  else if (thresholds[key].high < currentData[key]) {\n    status = `${status} ${key} reading is High. (range ${thresholds[key].low}-${thresholds[key].high}) Current reading: ${currentData[key]}\\n`\n    // Add the key to lastMessageKeys list\n  \n  }\n  // Check if value is within the range\n  \n    // Get the index of the key in lastMessageKeys\n  \n    // Check if index is not -1\n  \n      // Remove key at index from lastMessageKeys\n  \n      // Set the status message status+ key eading is ok and its value\n  \n  \n}\n\n// Set lastmessageKeys using flow.set()\n\nif(status!=\"\")\n{\n  msg.payload = {\n      \"api\": \"messages\",\n      \"func\": \"SendMessage\",\n      \"args\": {\n          \"peer\": \"shubham80621\",\n          \"message\": status\n      }\n  }\n\n  return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"lastMessageKeys\", [])",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "4f1ab64c5411d435"
            ]
        ]
    },
    {
        "id": "3125ee5a8ea0abc1",
        "type": "ui_group",
        "name": "guages",
        "tab": "d3fb97e7a614c68d",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ac6659385df72324",
        "type": "mqtt-broker",
        "name": "C140",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d7add96eb24337e9",
        "type": "ui_group",
        "name": "Data Table",
        "tab": "d3fb97e7a614c68d",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "38453e9c236cb604",
        "type": "telegram client config",
        "botname": "Noderedexpbot",
        "verboselogging": false,
        "loginmode": "bot",
        "useproxy": false,
        "usewss": false,
        "host": "",
        "sockstype": "5",
        "port": "6667",
        "username": "anonymous",
        "password": "",
        "secret": "",
        "mtproxy": false,
        "timeout": "2",
        "info": "6499039108:AAGX8TObSomH6Frhw_bh3wr4kc_XrW6crPI\r\n"
    },
    {
        "id": "d3fb97e7a614c68d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]